# Core App
streamlit==1.32.2

# Data Processing
pandas==2.2.1
numpy==1.26.4

# Machine Learning
scikit-learn==1.4.1.post1

# API Requests
requests==2.31.0

# Image Processing
Pillow==10.2.0

# Maps & Visualization
folium==0.15.1
streamlit-folium==0.18.0
